.searchInput {
    width: 100%;
    padding: 14px 20px;
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: #ffffff;
    color: #333;
    font-size: 16px;

    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}


.searchInput::placeholder {
    color: #999;
}